.result-card{

display:none;
margin-top:30px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(20px);
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.4);

}

.score-circle{

width:170px;
height:170px;
margin:auto;
border-radius:50%;
background:conic-gradient(#00e5ff 0deg,#00e5ff 0deg,#333 0deg);
display:flex;
justify-content:center;
align-items:center;
font-size:38px;
font-weight:bold;
color:white;
margin-bottom:25px;

}

#report{

line-height:2;
font-size:17px;

}

.report-title{

font-size:24px;
color:#00e5ff;
margin-bottom:15px;
text-align:center;

}

.progress{

height:10px;
background:#333;
border-radius:20px;
overflow:hidden;
margin:8px 0 20px;

}

.progress span{

display:block;
height:100%;
background:#00e5ff;
width:0%;
transition:2s;

}

.badge{

display:inline-block;
padding:8px 18px;
background:#00e5ff;
color:black;
border-radius:20px;
font-weight:bold;
margin-top:10px;

}